.content{
    padding-bottom: 30px;
}
/* koerte osa */
.adopt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    padding-bottom: 20px;
}
/* koera kast */
.adopt .container{
    width: 430px;
    height: 245px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin: 10px;
}
/* kastis koera pilt*/
.adopt .container img{
    height: 225px;
    width: 225px;
    object-fit: cover;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 50%;
    
}
/* kastis koera kirjeldus*/
.adopt .container .desc{
    width: 175px;
    padding-right: 10px;
    height: 90%;
}
.adopt .container .desc a{
    width: 100%;
    background-color: RGB(244,130,32);
    padding: 7px 15px;
    border: none;
    font-size: 16pt;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.adopt .container .desc a:hover{
    background-color:RGB(220,117,28);
    transition: 0.3s ease;
    border: none;
}
.adopt .container .desc h2{
    font-size: 24pt;
    margin-top: 10px;
    margin-bottom: 10px;
}
.adopt .container .desc p{
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 112px;
}

@media only screen and (max-width:480px){
    .adopt{
        justify-content: center;
        margin: 0px;
    }
    .adopt .container .desc h2{
        font-size: 16pt;
    }
    .adopt .container .desc p{
        font-size: 12pt;
        height: 55px;
        margin-bottom: 10px;
    }
    .adopt .container{
        width: 290px;
        height: 165px;
    }
    .adopt .container img{
        height: 125px;
        width: 125px;
    }
    .adopt .container .desc{
        width: 115px;
        padding-right: 10px;
    }
    .adopt .container .desc a{
        padding: 5px 10px;
    }
}