.content{
    padding-bottom: 30px;
}
.adopt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    padding-bottom: 20px;
}
.adopt .container{
    width: 430px;
    height: 245px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.adopt .container img{
    height: 225px;
    width: 225px;
    object-fit: cover;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 50%;
    
}
.adopt .container .desc{
    width: 175px;
    padding-right: 10px;
    height: 90%;
}
.adopt .container .desc a{
    width: 100%;
    background-color: RGB(244,130,32);
    padding: 7px 15px;
    border: none;
    font-size: 16pt;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.adopt .container .desc h2{
    font-size: 24pt;
    margin-top: 10px;
    margin-bottom: 10px;
}
.adopt .container .desc p{
    font-size: 18pt;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 112px;
}
