.content{
    padding-bottom: 30px;
    width: 100%;
}
.inner {
    display: flex;
    flex-flow: row wrap;
    width: 90vw;
    margin: 0 auto;
}
.inner .left {
    width: 50%;
    min-width: 430px;
    max-width: 90vw;
}
.inner .left img {
    width: 100%;
}
.inner .left p {
    font-style: italic;
    margin-top: 10px;
    font-size: 16pt;
    color:rgb(78, 78, 78);
}
.inner .right {
    display: flex;
    flex-flow: column nowrap;
    width: 48%;
    min-width: 430px;
    margin: 0 1%;
    max-width: 90vw;
}
.inner .right div h1 {
    font-size: 36pt;
    text-align: center;
}
.inner .right .text h1 {
    margin-top: 0;
}
.inner .right .text p {
    font-size: 20pt;
    line-height: 1.5em;
    letter-spacing: 0.05em;
}
.form .info {
    display: flex;
    flex-flow: row wrap;
}
.form .info .form-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.form .info .form-right {
    width: 50%;
}
.form .info div input[type=text] {
    border: none;
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 16pt;
    box-sizing: border-box;
}
.form .info div textarea {
    border: none;
    width: 80%;
    height: 150px;
    resize: none;
    padding: 10px;
    font-size: 16pt;
    box-sizing: border-box;
}
.form .info div input:placeholder-shown {
    font-style: italic;
    color: rgb(75, 75, 75);
}
.form .info div textarea:placeholder-shown {
    font-style: italic;
    color: rgb(75, 75, 75);
}
.form .info .form-join {
    margin: 0 auto;
}
.form .info .form-join input[type="submit"] {
    margin-top: 20px;
    background-color: rgb(236, 114, 10);
    color: white;
    border: none;
    cursor: pointer;
    width: 340px;
    max-width: 90vw;
    height: 80px;
    font-size: 32pt;
    font-weight: bold;
    letter-spacing: 0.03em;
}
.form .info .form-join input[type="submit"]:hover {
    background-color: rgb(255, 152, 61);
	transition: 0.3s ease;
}

@media only screen and (max-width:899px){
    .inner .left {
        width: 90vw;
        min-width: 0;
    }
    .inner .right {
        width: 90vw;
        min-width: 0;
        margin: 0;
    }
    .form .info .form-join input[type="submit"] {
        font-size: 26pt;
    }
    .inner .right div h1 {
        font-size: 32pt;
    }
    .inner .right .text p {
        font-size: 16pt;
    }
}