.banner img{
    width: 100%;
    height: 78vh;
    object-fit: cover;
}
.content{
    height: 78vh;
}
.banner_content{
    position: absolute;
    margin-top: 25vh;
    margin-bottom: 25px;
    margin-left: 50px;
}
/* Tekst */
.banner_content h1{
    color: white;
    font-size: 50pt;
    margin-bottom: 35px;
}
/* Nupp */
.banner_content a{
    background-color: RGB(244,130,32);
    padding: 20px 40px;
    border: none;
    font-size: 35pt;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.banner_content a:hover{
    background-color:RGB(220,117,28);
    transition: 0.3s ease;
    border: none;
}

@media only screen and (max-width:480px){
    .banner_content a{
        font-size: 25pt;
    }
    .banner_content h1{
        font-size: 35pt;
    }
    .banner_content{
        position: absolute;
        margin-left: 20px;
        margin-right: 20px;
    }
}