.banner img{
    width: 100%;
    height: 750px;
    object-fit: cover;
}
.content{
    height: 750px;
}
.banner_content{
    position: absolute;
    top: 55%;
    left: 5%;
}
.banner_content h1{
    color: white;
    font-size: 50pt;
    margin-bottom: 35px;
}
.banner_content a{
    background-color: RGB(244,130,32);
    padding: 20px 40px;
    border: none;
    font-size: 35pt;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.banner_content a:hover{
    background-color:RGB(220,117,28);
    transition: 0.3s ease;
    border: none;
}