body {
    font-family: Arial;
    margin: 0;
}

/* HEADER */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 95%;
    height: 200px;
    margin: 0 auto;
}
.logo {
    margin-top: 10px;
    float: left;
}
.logo a img {
    height: 180px;
}
.header-left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
}
nav ul li{
    margin: 0 10px;
    white-space: nowrap;
}
nav ul li a {
    color: rgb(17, 35, 83);
	text-decoration: none;
	font-size: 25pt;
    border-radius: 10px;
    padding: 0 5px;
}
nav ul li a:hover{
	background-color: #becbe7;
	transition: 0.3s ease;
}
.header-right {
    display: flex;
    align-items: center;
    height: 100%;
}
.search img {
    height: 40px;
    margin-right: 30px;
}
.donate a {
    color: white;
    background-color: rgb(216, 60, 45);
    font-weight: bold;
    font-size: 25pt;
    border-radius: 30px;
    border: none;
    padding: 12px 42px;
    text-decoration: none;
}
.donate a:hover {
    background-color: #b43131;
	transition: 0.3s ease;
}

/* MAIN */
main {
    background-color: RGB(247,243,243);
}
.breadcrumbs{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90vw;
    margin: auto;
    font-size: 18px;
}
.breadcrumbs a{
    text-decoration: none;
    color: black;
}

/* FOOTER */
footer {
    background-color:rgb(232, 232, 232);
}
.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}
.footer img {
    width: 48px;
}
.socials {
    width: 250px;
    margin-right: 50px;
}
.socials ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.email-address p {
    font-size: 14pt;
    margin: 0;
}