body {
    font-family: Arial;
    margin: 0 20px;
}

/* HEADER */
header {
    width: 100%;
    height: 200px;
}
.logo {
    float: left;
}
.logo img {
    width: 180px;
    height: 180px;
}
.outer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
nav {
    float: left;
    width: 50%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav ul li a {
    color: rgb(17, 35, 83);
	text-decoration: none;
	font-size: 25pt;
}
nav ul li a:hover{
	background-color: #8fbff5;
	transition: 0.3s ease;
}
.donate {
    float: right;
}
.search {
    float: left;
}
.donate img {
    height: 40px;
    margin-right: 30px;
}
.donate a {
    color: white;
    background-color: rgb(216, 60, 45);
    font-weight: bold;
    font-size: 25pt;
    border-radius: 30px;
    border: none;
    padding: 12px 42px;
    text-decoration: none;
}
.donate a:hover {
    background-color: #b43131;
	transition: 0.3s ease;
}
/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
}
.social-media ul {
    list-style-type: none;
    display: flex;
}
#email {
    float: right;
}