body {
    font-family: Arial;
    margin: 0;
    background-color: RGB(247,243,243);
}

/* HEADER */
header{
    background-color: white;
}
.header {
    display: flex;
    flex-flow: row nowrap;
    width: 95%;
    height: 200px;
    margin: 0 auto;
}
.header .logo {
    margin-top: 10px;
}
.logo a img {
    height: 180px;
}
.header .outer-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.outer-nav nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
}
nav ul li{
    margin: 0 10px;
    white-space: nowrap;
}
nav ul li a {
    color: rgb(17, 35, 83);
	text-decoration: none;
	font-size: 25pt;
    border-radius: 10px;
    padding: 0 5px;
}
nav ul li a:hover{
	background-color: #becbe7;
	transition: 0.3s ease;
}
.outer-nav .nav-right {
    display: flex;
    flex-flow: row nowrap;
}
.nav-right .search img {
    height: 40px;
    margin-right: 30px;
}
.nav-right .donate a {
    color: white;
    background-color: rgb(216, 60, 45);
    font-weight: bold;
    font-size: 25pt;
    border-radius: 30px;
    border: none;
    padding: 12px 42px;
    text-decoration: none;
}
.nav-right .donate a:hover {
    background-color: #b43131;
	transition: 0.3s ease;
}

/* MAIN */
main {
    background-color: RGB(247,243,243);
}
.breadcrumbs{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90vw;
    margin: auto;
    font-size: 18px;
}
.breadcrumbs a{
    text-decoration: none;
    color: black;
}

/* FOOTER */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(232, 232, 232);
}
.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}
.footer img {
    width: 48px;
}
.footer .socials {
    width: 250px;
    margin-right: 50px;
}
.socials ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.footer .email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.email p {
    font-size: 14pt;
    margin: 0;
}

@media only screen and (max-width:899px){
    .nav-right .search img {
        display: none;
    }
    .nav-right .donate a {
        font-size: 20pt;
        border-radius: 20px;
        padding: 6px 26px;
        margin-left: 5px;
    }
    nav ul {
        padding: 0;
        margin-bottom: 0;
    }
    nav ul li a {
        font-size: 20pt;
    }
    .header {
        padding-bottom: 5vh;
    }
}